<div class="options">
  <div class="page-specific">
    <a ng-click="getMovies()" title="Refresh list"><i class="mdi mdi-refresh"></i></a>
    <select name="index" ng-model="selectedIndex" class="index" title="Select the category">
      <option ng-repeat="indexLetter in moviesIndex" ng-value="indexLetter" ng-selected="indexLetter === selectedIndex">{{indexLetter}}</option>
    </select>
  </div>
  <div class="filter-container">
    <input type="text" class="filter" ng-model="filter.value" placeholder="filter" title="Filter the currently displayed list"  /> <i class="mdi mdi-close-box clear-filter" title="Clear filter" ng-click="clearFilter()" ng-show="filter.value !== ''"></i>
  </div>
</div>
<div class="data-list-wrapper">
  <ul class="vertical">
    <li ng-repeat="movie in moviesCategorised[selectedIndex] | filter:filterList track by movie.movieid" rk-tooltips class="clearfix" ng-click="handlePlay(movie)">
      <div class="thumbnail">
        <img ng-src="{{movie.thumbnail_src}}" alt="" ng-if="movie.thumbnail_src" />
        <i class="mdi mdi-movie" ng-if="!movie.thumbnail_src"></i>
      </div>
      <div class="details">
        <table width="100%" cellspacing="0" cellpadding="0">
          <tr>
            <td colspan="2" class="title">
              <h2>
                <i class="mdi mdi-eye watched-label" ng-if="movie.lastplayed !== '' && movie.resume.position === 0" title="Watched"></i> 
                <i class="mdi mdi-redo partially-watched-label" ng-if="movie.resume.position !== 0" title="Partially watched"></i>
                {{movie.label}}
              </h2>
            </td>
          </tr>
          <tr ng-if="movie.display_genre">
            <td class="infoLabel">
              genre
            </td>
            <td class="infoContent">
              {{movie.display_genre}}
            </td>
          </tr>
          <tr ng-if="movie.duration_readable">
            <td class="infoLabel">
              duration
            </td>
            <td class="infoContent">
              {{movie.duration_readable}}
            </td>
          </tr>
          <tr ng-if="movie.rating_rounded">
            <td class="infoLabel">
              rating
            </td>
            <td class="infoContent">
              {{movie.rating_rounded}}
            </td>
          </tr>
          <tr ng-if="movie.year">
            <td class="infoLabel">
              year
            </td>
            <td class="infoContent">
              {{movie.year}}
            </td>
          </tr>
          <tr ng-if="movie.plotoutline">
            <td class="infoLabel">
              plot
            </td>
            <td class="infoContent">
              {{movie.plotoutline}}
            </td>
          </tr>
        </table>
      </div>
    </li>
  </ul>
</div>

<div class="remodal" data-remodal-id="resumeMovieModal">
  <button data-remodal-action="close" class="remodal-close"></button>
  <button class="click-option" ng-click="play(resumeMovie, true)" data-remodal-action="confirm">
    Resume "{{resumeMovie.label}}" from {{resumeMovie.resume.position_readable}}
  </button>
  <button class="click-option" ng-click="play(resumeMovie, false)" data-remodal-action="confirm">
    Start from the beginning
  </button>
</div>