<div class="options">
  <a ng-click="getLibrary()" title="Refresh"><i class="mdi mdi-refresh"></i></a><input type="text" class="filter" ng-model="filter.value" placeholder="filter" /> <i class="mdi mdi-close-box clear-filter" title="Clear filter" ng-click="clearFilter()" ng-show="filter.value !== ''"></i>
</div>
<div class="data-list-wrapper">
  <ul class="vertical">
    <li ng-repeat="entry in library | filter:filterList" class="clearfix">
      <div class="thumbnail" ng-show="{{entry.thumbnail_src}}">
        <img ng-src="{{entry.thumbnail_src}}" alt="" />
      </div>
      <div class="details">
        <table width="100%" cellspacing="0" cellpadding="0">
          <tr>
            <td colspan="2" class="title">
              <h2>{{entry.label}}</h2>
            </td>
          </tr>
          <tr>
            <td class="infoLabel">
              rating
            </td>
            <td class="infoContent">
              {{entry.rating}}
            </td>
          </tr>
          <tr>
            <td class="infoLabel">
              year
            </td>
            <td class="infoContent">
              {{entry.year}}
            </td>
          </tr>
          <tr>
            <td class="infoLabel">
              plot
            </td>
            <td class="infoContent">
              {{entry.plotoutline}}
            </td>
          </tr>
        </table>
      </div>
    </li>
  </ul>
</div>