<nav>
  <ul class="horizontal">
    <li class="active" title="Movies library" ng-click="setActive($event)" rel="moviesLibrary" data-level="2">
      <i class="mdi mdi-database-outline"></i>
    </li>
    <li title="Video files" ng-click="setActive($event); initTab(['moviesFiles']);" rel="moviesFiles" data-level="2">
      <i class="mdi mdi-folder-outline"></i>
    </li>
    <li title="Video addons" ng-click="setActive($event)" rel="moviesAddons" data-level="2">
      <i class="mdi mdi-puzzle"></i>
    </li>
  </ul>
  <div class="magic-line"></div>
</nav>
<div class="tabs inline">
  <section ng-include="'views/partials/tabs/movies/library.html'" id="moviesLibrary" ng-controller="rkMoviesLibraryCtrl" rk-tooltips class="tabsContainer" data-level="2"></section>
  <section ng-include="'views/partials/tabs/video/files.html'" id="moviesFiles" ng-controller="rkVideoFilesCtrl" rk-tooltips class="tabsContainer" data-level="2"></section>
  <section ng-include="'views/partials/tabs/movies/addons.html'" id="moviesAddons" ng-controller="rkAddonsCtrl" rk-tooltips ng-init="type='video'" class="tabsContainer" data-level="2"></section>
</div>