<div class="title">
  Album options
</div>
<div class="description">
  What would you like to dot with the album <u>{{selected.album.label}}</u> <span ng-if="selected.album.displayartist">by <u>{{selected.album.displayartist}}</u></span>?
</div>
<div class="ngdialog-buttons">
  <button class="ngdialog-button ngdialog-button-primary" ng-click="playAlbum(selected.album) && closeThisDialog()">Play</button> 
  <button class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog()">Cancel</button>
</div>