$body_background: #282828;

$highlight_color: #E6802E;
$font_color: #6C6C6C;
$anchor_color: #FFF;
$anchor_color_hover: #E6802E;
$font_family: 'Quicksand', arial, sans-serif;
$font_size: 14px;
$font_weight: 300;
