body {
  cursor: default;
  user-select: none;
  -webkit-user-select: none;
}

h2 {
  @include backgroundGradientVertical(#595959, #333333);
  border-bottom: 1px solid #464646;
  margin: 0 0 20px 0;
  line-height: 58px;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  color: #999;
  letter-spacing: 4px;
  text-transform: uppercase;
}

section#topBar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 26px;
 
  .windowControls {
    padding: 5px;
    float: left;
    font-size: 0;
    white-space: nowrap;

    .button {
      display: inline-block;
      line-height: 16px;
      width: 16px;
      text-align: center;
      color: #333;
      font-weight: normal;
      font-size: 12px;
    }

    .button:hover {
      color: #FFF;
      @include transitionAll(0.15s);
      @include scale(1.15);
    }
    
    .button:active {
      @include scale(1.0);
    }
  }
  
  .windowDrag {
    float: right;
    width: 450px;
    height: 100%;
    -webkit-app-region: drag;
    cursor: move;
  }
}