$header_config: (
  height: 170px,
  status_height: 125px
);

$number_of_tabs: 8;

body#player {
  background: #282828;
  
  .noConnectionOverlay {
    position: absolute;
    top: (map-get($header_config, status_height)+1);
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 99;
    text-align: center;
    
    .message {
      margin: 100px auto 0 auto;
      width: 350px;
      font-size: 16px;
      text-align: justify;
      text-justify: distribute;
      color: #AAA;
    }
  }
  
  header {
    @include backgroundGradientVertical(#595959, #333333);
    border-bottom: 1px solid #464646;
    min-height: map-get($header_config, height);

    #playerStatus {
      height: map-get($header_config, status_height);

      h1.idle {
        line-height: map-get($header_config, status_height);
        color: #221E1F;
        letter-spacing: 8px;
        text-align: center;
        font-size: 46px;
        font-weight: 300;
        margin: 0;
        padding: 0;
        @include textShadow(0 0 2px, #4C4E4F);
      }
    }

    #controls {
      border-top: 1px solid $highlight_color;
      text-align: center;
      position: relative;
      
      ul {
        font-size: 0;
      }
      
      li {
        color: #FFF;
        text-align: center;
        line-height: 45px;
        font-size: 20px;
        width: 42px;
        display: inline-block;
        @include transitionAll(0.15);
      }
      
      li:first-of-type, 
      li:last-of-type {
        width: 28px;
      }
      
      li:hover,
      li.active {
        color: #E6802E;
        @include textShadow(0 0 16px, #666);
        @include scale(1.15);
      }
      
      li:active {
        @include scale(1.0);
        @include textShadow(0 0 6px, #666);
      }
      
      li[data-button="pause"],
      li[data-button="stop"] {
        display: none;
      }
      
      .volumeSliderWrapper {
        display: inline-block;
        position: absolute;
        top: 22px;
        left: 14px;
        width: 100px;
        font-size: 16px;
        line-height: 16px;
        
        #volumeSlider {
          background: #555;
          height: 2px;

          .handle {
            background: #888;
            border: 1px solid #666;
            height: 12px;
            width: 12px;
            padding: 0 4px;
            font-size: 0;
            border-radius: 50%;
            margin: -5px 0 0 0;
          }
        }
      }
      
      .extraControlsWrapper {
        position: absolute;
        right: 6px;
        top: 14px;
        z-index: 2;
        
        li {
          color: #888;
          font-size: 16px;
          line-height: 18px;
        }
        
        li.heartbeat {
          color: #C10820;
        }
        
        li.heartbeat.offline {
          color: #8A3928;
        }

        li.heartbeat.online {
          color: #338147;
        }
      }
    }
  }
  
  section#playbackOptions {
    padding: 10px;
  }
  
  section#tabsWrapper {
    overflow: hidden;
    
    nav {
      background: #262626;
      border-bottom: 1px solid #222;
      margin-bottom: -1px;
      
      ul {
        position: relative;
        font-size: 0;
      }
      
      li {
        line-height: 40px;
        width: 44px;
        text-align: center;
        display: inline-block;
        font-size: 18px;
        border-bottom: 1px solid transparent;
      }
      
      li:hover {
        color: #EEE;
        @include transitionAll(0.15s);
        @include scale(1.15);
      }
      
      li:active {
        @include scale(1.0);
      }
      
      li.active {
        color: #E6802E;
      }
      
      li.magic-line {
        position: absolute; 
        bottom: 0; 
        left: 0; 
        width: 40px; 
        height: 1px; 
        background: #E6802E;
      }
    }

    .tabs.inline {
      font-size: 0rem;
      letter-spacing: -.31em;
      word-spacing: -.43em;
      white-space: nowrap;
    }

    .tabs.inline > * {
      display: inline-block;
      *display: inline;
      *zoom: 1;
      font-size: 1rem;
      letter-spacing: normal;
      vertical-align: top;
      word-spacing: normal;
      white-space: normal;
    }
    
    .tabs {
      position: relative;
      left: 0;
      @include transitionAll(0.5s);
      
      h4 {
        margin: 0;
        padding: 0 20px;
        line-height: 26px;
        text-transform: uppercase;
        font-size: 11px;
        letter-spacing: 4px;
        font-weight: 400;
        color: #999;
        border-bottom: 1px solid #333;
      }
      
      .content {
        padding: 20px;
      }
    }
    
    .tabs > * {
      width: 100%;
      padding: 20px 0;
    }
    
    @for $i from 0 through $number_of_tabs {
      .tabs[data-tab='#{$i}'] {
        left: -(100%*$i);
      }
    }
  }
}