<nav>
  <ul class="horizontal">
    <li class="active" title="Movies library">
      <i class="mdi mdi-database-outline"></i>
    </li>
    <li title="Video files">
      <i class="mdi mdi-folder-outline"></i>
    </li>
  </ul>
  <div class="magic-line"></div>
</nav>
<div class="tabs inline">
  <div ng-include="'views/partials/tabs/movies/library.html'" id="moviesLibrary" ng-controller="rkMoviesCtrl" class="tabsContainer"></div>
  <div ng-include="'views/partials/tabs/movies/files.html'" id="videoFiles" ng-controller="rkFilesCtrl" ng-init="type='video'" class="tabsContainer"></div>
</div>