<nav>
  <ul class="horizontal">
    <li class="active" title="Music library">
      <i class="mdi mdi-database-outline"></i>
    </li>
    <li title="Music files">
      <i class="mdi mdi-folder-outline"></i>
    </li>
  </ul>
  <div class="magic-line"></div>
</nav>
<div class="tabs inline">
  <div ng-include="'views/partials/tabs/music/library.html'" id="musicLibrary" ng-controller="rkMusicCtrl" class="tabsContainer"></div>
  <div ng-include="'views/partials/tabs/music/files.html'" id="audioFiles" ng-controller="rkFilesCtrl" ng-init="type='music'" class="tabsContainer"></div>
</div>