<nav>
  <ul class="horizontal">
    <li class="active" title="Music library" ng-click="setActive($event)" rel="musicLibrary" data-level="2">
      <i class="mdi mdi-database-outline"></i>
    </li>
    <li title="Music files" ng-click="setActive($event); initTab(['musicFiles']);" rel="musicFiles" data-level="2">
      <i class="mdi mdi-folder-outline"></i>
    </li>
    <li title="Music addons" ng-click="setActive($event)" rel="musicAddons" data-level="2">
      <i class="mdi mdi-puzzle"></i>
    </li>
  </ul>
  <div class="magic-line"></div>
</nav>
<div class="tabs inline">
  <section ng-include="'views/partials/tabs/music/library.html'" id="musicLibrary" ng-controller="rkMusicLibraryCtrl" rk-tooltips class="tabsContainer sub-sub" data-level="2"></section>
  <section ng-include="'views/partials/tabs/music/files.html'" id="musicFiles" ng-controller="rkMusicFilesCtrl" rk-tooltips class="tabsContainer" data-level="2"></section>
  <section ng-include="'views/partials/tabs/music/addons.html'" id="musicAddons" ng-controller="rkAddonsCtrl" rk-tooltips class="tabsContainer" data-level="2"></section>
</div>