<div class="data-list-wrapper">
  <ul class="vertical">
    <li ng-repeat="entry in files" class="clearfix">
      <div class="label" ng-click="entry.filetype === 'file'? play(entry.file, entry.filetype) : getDirectory(entry.file)">
        <i class="mdi mdi-folder" ng-show="!entry.filetype || entry.filetype === 'directory'"></i>
        <i class="mdi mdi-file-image" ng-show="entry.filetype === 'file'"></i>
        {{entry.label}}
      </div>
      <div class="controls" ng-if="entry.filetype && entry.label !== '..'">
        <i class="mdi mdi-play" ng-show="entry.filetype === 'file' || entry.filetype === 'directory'" title="Show" ng-click="play(entry.file, entry.filetype)"></i>
      </div>
    </li>
  </ul>
</div>