<nav>
  <ul class="horizontal">
    <li class="active" title="Audio playlist" data-rel="audioPlaylist">
      <i class="mdi mdi-music-note"></i>
    </li>
    <li title="Video playlist" ng-click="initController('rkVideoPlaylistCtrl');" data-rel="videoPlaylist">
      <i class="mdi mdi-video"></i>
    </li>
  </ul>
  <div class="magic-line"></div>
</nav>
<div class="tabs inline">
  <section ng-include="'views/partials/tabs/playlist/audio.html'" id="audioPlaylist" ng-controller="rkAudioPlaylistCtrl" class="tabsContainer"></section>
  <section ng-include="'views/partials/tabs/playlist/video.html'" id="videoPlaylist" ng-controller="rkVideoPlaylistCtrl" class="tabsContainer"></section>
</div>