<div class="settings-section">
  <div class="title">
    Connection
  </div>
  <ul class="vertical">
    <li title="Enter the ip address or domain name of the Kodi server">
      <label for="kodiIp">ip address</label><input type="text" placeholder="192.168.1.10" name="kodi_ip" id="kodiIp" value="" />
    </li>
    <li title="Leave at port 9090 unless changed in advancedsettings.xml">
      <label for="kodiPort">port</label><input type="text" name="kodi_port" id="kodiPort" value="9090" />
    </li>
  </ul>
</div>