<nav>
  <ul class="horizontal">
    <li class="active" title="TV Shows library" ng-click="setActive($event)" rel="tvShowsLibrary" data-level="2">
      <i class="mdi mdi-database-outline"></i>
    </li>
    <li title="Video files" ng-click="setActive($event)" rel="tvShowsFiles" data-level="2">
      <i class="mdi mdi-folder-outline"></i>
    </li>
    <li title="Video addons" ng-click="setActive($event)" rel="tvShowsAddons" data-level="2">
      <i class="mdi mdi-puzzle"></i>
    </li>
  </ul>
  <div class="magic-line"></div>
</nav>
<div class="tabs inline">
  <section ng-include="'views/partials/tabs/tv_shows/library.html'" id="tvShowsLibrary" ng-controller="rkTvShowsCtrl" class="tabsContainer" data-level="2"></section>
  <section ng-include="'views/partials/tabs/video/files.html'" id="tvShowsFiles" ng-controller="rkVideoFilesCtrl" class="tabsContainer" data-level="2"></section>
  <section ng-include="'views/partials/tabs/tv_shows/addons.html'" id="tvShowsAddons" ng-controller="rkAddonsCtrl" ng-init="type='video'" class="tabsContainer" data-level="2"></section>
</div>