<div class="main">
  <ul class="horizontal">
    <li data-button="skipprevious">
      <i class="fa fa-step-backward fs-18"></i>
    </li>
    <li data-button="rewind">
      <i class="fa fa-backward fs-20"></i>
    </li>
    <li data-button="play">
      <i class="fa fa-play fs-24"></i>
    </li>
    <li data-button="pause">
      <i class="fa fa-pause fs-20"></i>
    </li>
    <li data-button="stop">
      <i class="fa fa-stop fs-20"></i>
    </li>
    <li data-button="fastforward">
      <i class="fa fa-forward fs-20"></i>
    </li>
    <li data-button="skipnext">
      <i class="fa fa-step-forward fs-18"></i>
    </li>
  </ul>
</div>