<div class="wrapper" ng-show="isConnected">
  <ul class="horizontal">
    <li ng-click="skipPrevious()">
      <i class="mdi mdi-skip-previous"></i>
    </li>
    <li ng-click="rewind()" ng-class="{active: isRewinding}">
      <i class="mdi mdi-rewind"></i>
    </li>
    <li ng-show="!isPlaying || isPaused" ng-click="playPause()">
      <i class="mdi mdi-play"></i>
    </li>
    <li ng-show="currentSpeed < 0 || currentSpeed > 1">
      {{currentSpeed}}x
    </li>
    <li ng-show="(isPlaying && !isPaused)" ng-click="playPause()" ng-class="{active: isPaused}">
      <i class="mdi mdi-pause"></i>
    </li>
    <li ng-show="isPlaying" ng-click="stop()">
      <i class="mdi mdi-stop"></i>
    </li>
    <li ng-click="fastForward()" ng-class="{active: isFastForwarding}">
      <i class="mdi mdi-fast-forward"></i>
    </li>
    <li ng-click="skipNext()">
      <i class="mdi mdi-skip-next"></i>
    </li>
  </ul>
</div>