<nav>
  <ul class="horizontal">
    <li class="active" title="Recently added" data-rel="recentlyAdded">
      <i class="mdi mdi-newspaper"></i>
    </li>
    <li title="Playlist" ng-click="initController('rkAudioPlaylistCtrl');" data-rel="playlist">
      <i class="mdi mdi-view-list"></i>
    </li>
    <li title="Music" ng-click="initController('rkMusicLibraryCtrl');" data-rel="music">
      <i class="mdi mdi-music-note"></i>
    </li>
    <li title="Movies" ng-click="initController('rkMoviesLibraryCtrl');" data-rel="movies">
      <i class="mdi mdi-movie"></i>
    </li>
    <li title="TV shows" ng-click="initController('rkTvShowsLibraryCtrl');" data-rel="tvShows">
      <i class="mdi mdi-television"></i>
    </li>
    <li title="Photos" ng-click="initController('rkPicturesCtrl');" data-rel="pictures">
      <i class="mdi mdi-camera"></i>
    </li>
    <li title="Programs" data-rel="programAddons">
      <i class="mdi mdi-floppy"></i>
    </li>
    <li title="Remote" data-rel="remote">
      <i class="mdi mdi-remote"></i>
    </li>
    <li title="Settings" data-rel="settings">
      <i class="mdi mdi-settings"></i>
    </li>
  </ul>
  <div class="magic-line"></div>
</nav>
<div class="tabs inline clearfix">
  <section ng-include="'views/partials/tabs/recently_added.html'" ng-controller="rkRecentlyAddedCtrl" rk-tooltips id="recentlyAdded" class="tabsContainer"></section>
  <section ng-include="'views/partials/tabs/playlist.html'" rk-tooltips rk-tabs id="playlist" class="tabsContainer sub"></section>
  <section ng-include="'views/partials/tabs/music.html'" rk-tooltips rk-tabs id="music" class="tabsContainer sub"></section>
  <section ng-include="'views/partials/tabs/movies.html'" rk-tooltips rk-tabs id="movies" class="tabsContainer sub"></section>
  <section ng-include="'views/partials/tabs/tv_shows.html'" rk-tooltips rk-tabs id="tvShows" class="tabsContainer sub"></section>
  <section ng-include="'views/partials/tabs/pictures.html'" ng-controller="rkPicturesCtrl" rk-tooltips id="pictures" class="tabsContainer"></section>
  <section ng-include="'views/partials/tabs/addons.html'" ng-controller="rkAddonsCtrl" rk-tooltips id="programAddons" class="tabsContainer"></section>
  <section ng-include="'views/partials/tabs/remote.html'" ng-controller="rkRemoteCtrl" rk-tooltips id="remote" class="tabsContainer"></section>
  <section ng-include="'views/partials/tabs/settings.html'" ng-controller="rkSettingsCtrl" rk-tooltips id="settings" class="tabsContainer"></section>
</div>