<nav>
  <ul class="horizontal">
    <li class="active" title="Now playing">
      <i class="fa fa-play"></i>
    </li>
    <li title="Playlist">
      <i class="fa fa-list-ul"></i>
    </li>
    <li title="Music">
      <i class="fa fa-music"></i>
    </li>
    <li title="Movies">
      <i class="fa fa-video-camera"></i>
    </li>
    <li title="TV shows">
      <i class="fa fa-desktop"></i>
    </li>
    <li title="Photos">
      <i class="fa fa-photo"></i>
    </li>
    <li title="Addons">
      <i class="fa fa-puzzle-piece"></i>
    </li>
    <li title="Remote">
      <i class="fa fa-keyboard-o"></i>
    </li>
  </ul>
  <div class="magic-line"></div>
</nav>
<div class="tabs inline">
  <section ng-include="'views/partials/tabs/now_playing_details.html'" ng-controller="rkNowPlayingCtrl" rk-tooltips id="nowPlayingDetails"></section>
  <section ng-include="'views/partials/tabs/playlist.html'" ng-controller="rkPlaylistCtrl" rk-tooltips id="playlist"></section>
  <section ng-include="'views/partials/tabs/music.html'" ng-controller="rkMusicCtrl" rk-tooltips rk-tabs id="music"></section>
  <section ng-include="'views/partials/tabs/movies.html'" ng-controller="rkMoviesCtrl" rk-tooltips rk-tabs id="movies"></section>
  <section ng-include="'views/partials/tabs/tv_shows.html'" ng-controller="rkTvShowsCtrl" rk-tooltips rk-tabs id="tvShows"></section>
  <section ng-include="'views/partials/tabs/photos.html'" ng-controller="rkPhotosCtrl" rk-tooltips id="photos"></section>
  <section ng-include="'views/partials/tabs/addons.html'" ng-controller="rkAddonsCtrl" rk-tooltips id="addons"></section>
  <section ng-include="'views/partials/tabs/remote.html'" ng-controller="rkRemoteCtrl" rk-tooltips id="remote"></section>
</div>