<nav>
  <ul class="horizontal">
    <li class="active" title="Now playing">
      <i class="mdi mdi-play-box-outline"></i>
    </li>
    <li title="Playlist" ng-click="initTab(['#audioPlaylist', '#videoPlaylist'])">
      <i class="mdi mdi-view-list"></i>
    </li>
    <li title="Music" ng-click="initTab(['#musicFiles'])">
      <i class="mdi mdi-music-note"></i>
    </li>
    <li title="Movies" ng-click="initTab(['#moviesFiles'])">
      <i class="mdi mdi-movie"></i>
    </li>
    <li title="TV shows" ng-click="initTab(['#tvShowsFiles'])">
      <i class="mdi mdi-television"></i>
    </li>
    <li title="Photos" ng-click="initTab(['#photos'])">
      <i class="mdi mdi-camera"></i>
    </li>
    <li title="Addons">
      <i class="mdi mdi-puzzle"></i>
    </li>
    <li title="Remote">
      <i class="mdi mdi-remote"></i>
    </li>
    <li title="Settings">
      <i class="mdi mdi-settings"></i>
    </li>
  </ul>
  <div class="magic-line"></div>
</nav>
<div class="tabs inline">
  <section ng-include="'views/partials/tabs/now_playing_details.html'" ng-controller="rkNowPlayingCtrl" rk-tooltips id="nowPlayingDetails" class="tabsContainer"></section>
  <section ng-include="'views/partials/tabs/playlist.html'" rk-tooltips rk-tabs id="playlist" class="tabsContainer sub"></section>
  <section ng-include="'views/partials/tabs/music.html'" rk-tooltips rk-tabs id="music" class="tabsContainer sub"></section>
  <section ng-include="'views/partials/tabs/movies.html'" rk-tooltips rk-tabs id="movies" class="tabsContainer sub"></section>
  <section ng-include="'views/partials/tabs/tv_shows.html'" rk-tooltips rk-tabs id="tvShows" class="tabsContainer sub"></section>
  <section ng-include="'views/partials/tabs/photos.html'" ng-controller="rkFilesCtrl" ng-init="type='pictures'" rk-tooltips id="photos" class="tabsContainer"></section>
  <section ng-include="'views/partials/tabs/addons.html'" ng-controller="rkAddonsCtrl" rk-tooltips id="addons" class="tabsContainer"></section>
  <section ng-include="'views/partials/tabs/remote.html'" ng-controller="rkRemoteCtrl" rk-tooltips id="remote" class="tabsContainer"></section>
  <section ng-include="'views/partials/tabs/settings.html'" ng-controller="rkSettingsCtrl" rk-tooltips id="settings" class="tabsContainer"></section>
</div>