section#recentlyAdded {
  & > .wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    padding: 0 map-get($global, window-padding);

    .section-title {
      margin: map-get($global, window-padding) 0 0 0;
      color: #AAA;
      text-transform: uppercase;
      font-size: 10px;
      letter-spacing: 2px;
      padding: 6px 6px 3px 6px;
      margin-bottom: 6px;
      background: #2C2C2C;
    }
    
    .horizontal-list-wrapper {
      width: 100%;
      overflow-x: auto;
      margin: 0 0 24px 0; 

      ul.horizontal {
        li {
          width: 120px;
          height: 100%;
          margin: 0 3px 6px 3px;
          padding: 6px;
          background: #2C2C2C;
          color: #FFF;
          font-size: 11px;
          line-height: 18px;
          @include transitionAll(map-get($global, transition-speed));
          
          & > div {
            overflow-x: hidden;
            text-overflow: ellipsis;
          }
          
          &:first-of-type {
            margin-left: 0;
          }
          
          &:last-of-type {
            margin-right: 0;
          };
          
          &:hover {
            background: #333;
            
            .thumbnail {
              -webkit-filter: opacity(100%);
              
              img {
                -webkit-filter: grayscale(0%);
              }
            }
            
            .parent-title {
              color: #CCC;
            }
            
            .title {
              color: map-get($global, highlight-color);
            }
          }
          
          .thumbnail {
            text-align: center;
            -webkit-filter: opacity(25%);
            @include transitionAll(0.4s);
            width: 108px;
            margin-bottom: 3px;
            
            img {
              -webkit-filter: grayscale(100%);
              width: 100%;
              height: 100%;
              display: block;
            }
            
            i.mdi {
              font-size: 50px;
            }
          }
          
          .parent-title {
            line-height: 14px;
            @include transitionAll(0.4s);
            color: #666;
          }
          
          .title {
            font-size: 12px;
            @include transitionAll(0.4s);
            color: #777;
          }
        }
      }
    }
  }
  
  .horizontal-list-wrapper.episodes {
    ul {
      .thumbnail {
        height: 61px;

        i.mdi {
          line-height: 61px;
        }
      }
    }
  }

  .horizontal-list-wrapper.movies {
    ul {
      .thumbnail {
        height: 162px;

        i.mdi {
          line-height: 162px;
        }
      }
    }
  }

  .horizontal-list-wrapper.albums {
    ul {
      .thumbnail {
        height: 108px;

        i.mdi {
          line-height: 108px;
        }
      }
    }
  }
}