[Desktop Entry]
Version=1.0
Name=ReKodi
Comment=A cross platform desktop remote for use with the Kodi medai center software
Exec=/usr/share/rekodi-linux-ia32/rekodi
Path=/usr/share/rekodi-linux-ia32/
Icon=/usr/share/rekodi-linux-ia32/resources/app/assets/linux/icon.png
Terminal=false
Type=Application
Categories=AudioVideo;Audio;Video;Network;Utility;

