<div class="options">
  <div class="page-specific">
    <span ng-show="currentLevel !== 'tvShows'">
      <a ng-click="getTvShowsCategorised()" title="Back to TV Shows"><i class="mdi mdi-home"></i></a>
    </span>
    <span ng-show="currentLevel ==='tvShows' && tvShowsIndex.length > 0 && !isFiltering">
      <select name="index" ng-model="guiModels.selectedIndex" class="index" title="Select the category" ng-change="showItems({key: 'tvShows', reset: true, data: tvShowsCategorised[guiModels.selectedIndex]})">
        <option ng-repeat="indexLetter in tvShowsIndex track by indexLetter" ng-value="indexLetter" ng-selected="indexLetter === guiModels.selectedIndex">{{indexLetter}}</option>
      </select>
    </span>
    <span>
      <i class="mdi mdi-eye-off" title="hide watched items" ng-show="!settings.hideWatched" ng-click="settings.hideWatched = true"></i>
      <i class="mdi mdi-eye-off active" title="show watched items" ng-show="settings.hideWatched" ng-click="settings.hideWatched = false"></i>
    </span>
    <span ng-show="currentLevel === 'episodes'">
      <i class="mdi mdi-message-text" title="show plot" ng-show="!settings.showEpisodePlot" ng-click="settings.showEpisodePlot = true"></i>
      <i class="mdi mdi-message-text active" title="hide plot" ng-show="settings.showEpisodePlot" ng-click="settings.showEpisodePlot = false"></i>
    </span>
    <span ng-show="currentLevel === 'tvShows'">
      <i class="mdi mdi-message-text" title="show description" ng-show="!settings.showTvShowDescription" ng-click="settings.showTvShowDescription = true"></i>
      <i class="mdi mdi-message-text active" title="hide description" ng-show="settings.showTvShowDescription" ng-click="settings.showTvShowDescription = false"></i>
    </span>
  </div>
  <div class="filter-container">
    <input type="text" class="filter" ng-model="guiModels.filterValue" ng-change="applyFilter(guiModels.filterValue)" placeholder="search" title="Find tvShows (2 characters minimal)" /> <i class="mdi mdi-close-box clear-filter" title="Clear filter" ng-click="clearFilter()" ng-show="guiModels.filterValue !== ''"></i>
  </div>
</div>
<div class="data-list-wrapper" su-endless-scroll="showItems({key: currentLevel, data: tvShowsCategorised[guiModels.selectedIndex]})" ng-show="currentLevel === 'tvShows'">
  <ul class="vertical">
    <li ng-repeat="tvShow in scrollItems['tvShows'] track by tvShow.tvshowid" rk-tooltips class="clearfix" ng-click="getSeasons(tvShow.tvshowid)">
      <div class="thumbnail">
        <img ng-src="{{tvShow.thumbnail_src}}" alt="" ng-if="tvShow.thumbnail_src" />
        <i class="mdi mdi-tvShow" ng-if="!tvShow.thumbnail_src"></i>
      </div>
      <div class="details">
        <table width="100%" cellspacing="0" cellpadding="0">
          <tr>
            <td colspan="2" class="title">
              <h2>
                <i class="mdi mdi-eye watched-label" ng-if="tvShow.is_watched" title="Watched"></i>
                {{tvShow.label}}
              </h2>
            </td>
          </tr>
          <tr ng-if="tvShow.display_genre">
            <td class="infoLabel">
              genre
            </td>
            <td class="infoContent">
              {{tvShow.display_genre}}
            </td>
          </tr>
          <tr ng-if="tvShow.rating_rounded">
            <td class="infoLabel">
              rating
            </td>
            <td class="infoContent">
              {{tvShow.rating_rounded}}
            </td>
          </tr>
          <tr>
            <td class="infoLabel">
              unwatched
            </td>
            <td class="infoContent">
              <b title="unwatched">{{(tvShow.episode - tvShow.watchedepisodes)}}</b> / <span title="episodes in library">{{tvShow.episode}}</span>
            </td>
          </tr>
          <tr ng-if="tvShow.premiered">
            <td class="infoLabel">
              premiered
            </td>
            <td class="infoContent">
              {{tvShow.premiered | date: 'dd-MM-yyyy'}}
            </td>
          </tr>
          <tr ng-if="tvShow.plot" ng-show="settings.showTvShowDescription">
            <td class="infoLabel">
              plot
            </td>
            <td class="infoContent">
              {{tvShow.plot}}
            </td>
          </tr>
        </table>
      </div>
    </li>
  </ul>
</div>
<div class="data-list-wrapper" su-endless-scroll="showItems({key: currentLevel, data: seasons[currentTvShowId]})" ng-show="currentLevel === 'seasons'">
  <ul class="vertical">
    <li ng-click="getTvShowsCategorised()">
      <div class="label">
        <i class="mdi mdi-album"></i> [back to tv shows] ..
      </div>
    </li>
    <li ng-repeat="season in scrollItems['seasons'] track by season.seasonid" rk-tooltips class="clearfix" ng-click="getEpisodes(currentTvShowId, season.season)">
      <div class="thumbnail">
        <img ng-src="{{season.thumbnail_src}}" alt="" ng-if="season.thumbnail_src" />
        <i class="mdi mdi-movie" ng-if="!season.thumbnail_src"></i>
      </div>
      <div class="details">
        <table width="100%" cellspacing="0" cellpadding="0">
          <tr>
            <td class="title" colspan="2">
              <h2>
                <i class="mdi mdi-eye watched-label" ng-if="season.is_watched" title="Watched"></i>
                {{season.label}}
              </h2>
            </td>
          </tr>
          <tr>
            <td class="infoLabel">
              tv show
            </td>
            <td class="infoContent">
              {{season.showtitle}}
            </td>
          </tr>
          <tr>
            <td class="infoLabel">
              unwatched
            </td>
            <td class="infoContent">
              <b title="unwatched">{{(season.episode - season.watchedepisodes)}}</b> / <span title="episodes in library">{{season.episode}}</span>
            </td>
          </tr>
        </table>
      </div>
    </li>
  </ul>
</div>
<div class="data-list-wrapper" su-endless-scroll="showItems({key: currentLevel, data: episodes[currentSeasonId]})" ng-show="currentLevel === 'episodes'">
  <ul class="vertical">
    <li class="clearfix" ng-click="seasons[currentTvShowId].length < 2? getTvShowsCategorised() : getSeasons(currentTvShowId)">
      <div class="label">
        <i class="mdi mdi-worker"></i> [back to {{seasons[currentTvShowId].length < 2? 'tv shows' : 'seasons'}}] ..
      </div>
    </li>
    <li ng-repeat="episode in scrollItems['episodes'] track by episode.episodeid" rk-tooltips class="clearfix">
      <div class="thumbnail">
        <img ng-src="{{episode.thumbnail_src}}" alt="" ng-if="episode.thumbnail_src" />
        <i class="mdi mdi-tvShow" ng-if="!episode.thumbnail_src"></i>
      </div>
      <div class="details">
        <table width="100%" cellspacing="0" cellpadding="0">
          <tr>
            <td colspan="2" class="title">
              <h2>
                <i class="mdi mdi-eye watched-label" ng-if="episode.is_watched" title="Watched"></i> 
                <i class="mdi mdi-redo partially-watched-label" ng-if="episode.is_resumable" title="Partially watched"></i>
                {{episode.label}}
              </h2>
            </td>
          </tr>
          <tr>
            <td class="infoLabel">
              tv show
            </td>
            <td class="infoContent">
              {{episode.showtitle}}
            </td>
          </tr>
          <tr ng-if="episode.display_genre">
            <td class="infoLabel">
              genre
            </td>
            <td class="infoContent">
              {{episode.display_genre}}
            </td>
          </tr>
          <tr ng-if="episode.rating_rounded">
            <td class="infoLabel">
              rating
            </td>
            <td class="infoContent">
              {{episode.rating_rounded}}
            </td>
          </tr>
          <tr ng-if="episode.premiered">
            <td class="infoLabel">
              premiered
            </td>
            <td class="infoContent">
              {{episode.premiered | date: 'dd-MM-yyyy'}}
            </td>
          </tr>
          <tr ng-if="episode.plot" ng-show="settings.showEpisodePlot">
            <td class="infoLabel">
              plot
            </td>
            <td class="infoContent">
              {{episode.plot}}
            </td>
          </tr>
        </table>
      </div>
    </li>
  </ul>
</div>