<div class="data-list-wrapper">
  <div class="options">
    <i class="mdi mdi-settings"></i> <input type="text" class="filter" ng-model="filter.value" placeholder="filter" /> <i class="mdi mdi-close-box clear-filter" title="Clear filter" ng-click="clearFilter()" ng-show="filter.value !== ''"></i>
  </div>
  <ul class="vertical">
    <li ng-repeat="entry in files | filter:filterList" class="clearfix">
      <div class="label" ng-click="entry.filetype === 'file'? play(entry.file, entry.filetype) : getDirectory(entry.file)">
        <i class="mdi mdi-folder" ng-show="!entry.filetype || entry.filetype === 'directory'"></i>
        <i class="mdi mdi-file-music" ng-show="entry.filetype === 'file'"></i>
        {{entry.label}}
      </div>
      <div class="controls" ng-if="entry.filetype && entry.label !== '..'">
        <i class="mdi mdi-play-box-outline" ng-show="entry.filetype === 'file' || entry.filetype === 'directory'" title="Play" ng-click="play(entry)"></i>
        <i class="mdi mdi-playlist-plus" ng-show="entry.file !== '..'" title="Append to playlist" ng-click="addToPlaylist(entry)"></i>
      </div>
    </li>
  </ul>
</div>