<div class="options clearfix">
  <div class="page-specific">
    <a ng-click="getSources()" title="Back to music sources" ng-show="currentLevel !== 'sources'"><i class="mdi mdi-home"></i></a> 
  </div>
  <div class="filter-container">
    <input type="text" class="filter" ng-model="filter.value" placeholder="filter" title="Filter the currently displayed list" /> <i class="mdi mdi-close-box clear-filter" title="Clear filter" ng-click="clearFilter()" ng-show="filter.value !== ''"></i>
  </div>
</div>
<div class="data-list-wrapper" su-endless-scroll="showItems({key: currentLevel, data: souces})" ng-show="currentLevel === 'sources'">
  <ul class="vertical">
    <li ng-repeat="source in scrollItems['sources'] | filter:filterList track by source.file" class="clearfix">
      <div class="label" ng-click="getDirectory(source.file)">
        <i class="mdi mdi-folder"></i> {{source.label}}
      </div>
    </li>
  </ul>
</div>
<div class="data-list-wrapper" su-endless-scroll="showItems({key: currentLevel, data: files[filesKey]})" ng-show="currentLevel === 'files'">
  <ul class="vertical">
    <li class="clearfix" ng-show="currentLevel === 'files'">
      <div class="label" ng-click="directoryUp()">
        <i class="mdi mdi-folder"></i> ..
      </div>
    </li>
    <li ng-repeat="file in scrollItems['files'] | filter:filterList track by file.file" class="clearfix">
      <div class="label" ng-click="file.filetype === 'file'? play(file.file, file.filetype) : getDirectory(file.file)">
        <i class="mdi mdi-folder" ng-show="!file.filetype || file.filetype === 'directory'"></i>
        <i class="mdi mdi-file-music" ng-show="file.filetype === 'file'"></i> {{file.file_name}}
      </div>
      <div class="controls">
        <i class="mdi mdi-play-box-outline" ng-show="file.filetype === 'file' || file.filetype === 'directory'" title="Play" ng-click="play(file)"></i>
        <i class="mdi mdi-playlist-plus" title="Append to playlist" ng-click="addToPlaylist(file)"></i>
      </div>
    </li>
  </ul>
</div>