<div class="options clearfix" ng-show="selectedIndex !== null">
  index: <select name="index" ng-model="selectedIndex" class="index">
    <option ng-repeat="indexLetter in alphabeticIndex" ng-value="{{indexLetter}}" ng-selected="indexLetter === selectedIndex">{{indexLetter}}</option>
  </select>
  <input type="text" class="filter" ng-model="filter.value" placeholder="filter" /> <i class="mdi mdi-close-box clear-filter" title="Clear filter" ng-click="clearFilter()" ng-show="filter.value !== ''"></i>
</div>
<div class="data-list-wrapper">
  <ul class="vertical">
    <li ng-repeat="entry in alphabeticLibrary[selectedIndex] | filter:filterList" class="clearfix">
      <div class="label">
        <i class="mdi mdi-human"></i>
        {{entry.label}}
      </div>
    </li>
  </ul>
</div>