<div class="options clearfix">
  <div class="filter-container">
    <input type="text" class="filter" ng-model="filter.value" placeholder="filter" title="Filter the currently displayed list" /> <i class="mdi mdi-close-box clear-filter" title="Clear filter" ng-click="clearFilter()" ng-show="filter.value !== ''"></i>
  </div>
</div>
<div class="data-list-wrapper" su-endless-scroll="showItems({data: items})">
  <ul class="vertical">
    <li class="center-content" ng-show="!isLoading && scrollItems.length === 0">
      ... nothing to show ...
    </li>
    <li class="center-content" ng-show="isLoading && scrollItems.length === 0">
      ... loading playlist ...
    </li>
    <li ng-repeat="entry in scrollItems | filter:filterList" class="clearfix" ng-class="{playing: entry.is_playing}">
      <div class="label">
        <i class="mdi mdi-file-music"></i> {{entry.track}}. {{entry.displayartist}} - {{entry.label}}
      </div>
    </li>
  </ul>
</div>