<div class="title">
  Album options
</div>
<div class="description">
  What would you like to do with the album <u>{{album.label}}</u>?
</div>
<div class="ngdialog-buttons clearfix" rk-tooltips="true">
  <button class="ngdialog-button ngdialog-button-primary" ng-click="play(album) && closeThisDialog()" title="Play"><i class="mdi mdi-play"></i></button>
  <button class="ngdialog-button ngdialog-button-secondary" ng-click="shufflePlay(album) && closeThisDialog()" title="Shuffle play"><i class="mdi mdi-shuffle"></i></button>
  <button class="ngdialog-button ngdialog-button-favorite" ng-click="favorite(album) && closeThisDialog()" title="Add to favorites"><i class="mdi mdi-star"></i></button>
  <button class="ngdialog-button ngdialog-button-danger" ng-click="remove(album, callback) && closeThisDialog()" title="Remove from library"><i class="mdi mdi-delete"></i></button>
  <!--<button class="ngdialog-button ngdialog-button-cancel" ng-click="closeThisDialog()">Cancel</button>-->
</div>