<div class="title">
  Album options
</div>
<div class="description">
  What would you like to do with the album <u>{{album.label}}</u> <span ng-if="album.displayartist">by <u>{{album.displayartist}}</u></span>?
</div>
<div class="ngdialog-buttons">
  <button class="ngdialog-button ngdialog-button-primary" ng-click="play(album) && closeThisDialog()">Play</button>
  <button class="ngdialog-button ngdialog-button-secondary" ng-click="shufflePlay(album) && closeThisDialog()">Shuffle play</button>
  <button class="ngdialog-button ngdialog-button-danger" ng-click="remove(album, callback) && closeThisDialog()">Delete</button>
  <button class="ngdialog-button ngdialog-button-cancel" ng-click="closeThisDialog()">Cancel</button>
</div>