<div class="title">
  Artist options
</div>
<div class="description">
  What would you like to do with artist <u>{{ngDialogData.item.label}}</u>?
</div>
<div class="ngdialog-buttons" rk-tooltips="true">
  <button class="ngdialog-button ngdialog-button-primary" ng-click="play() && closeThisDialog()" title="Play"><i class="mdi mdi-play"></i></button>
  <button class="ngdialog-button ngdialog-button-secondary" ng-click="play(true) && closeThisDialog()" title="Play shuffled"><i class="mdi mdi-shuffle"></i></button>
  <button class="ngdialog-button ngdialog-button-other" ng-click="append() && closeThisDialog()" title="Append to playlist"><i class="mdi mdi-playlist-plus"></i></button>
</div>