<div class="title">
  Episode options
</div>
<div class="description">
  What would you like to do with episode <u>{{episode.label}}</u> from the TV show <u>{{episode.showtitle}}</u>?
</div>
<div class="ngdialog-buttons">
  <button class="ngdialog-button ngdialog-button-primary" ng-click="play(episode) && closeThisDialog()">Play</button>
  <button class="ngdialog-button ngdialog-button-primary" ng-click="play(episode, true) && closeThisDialog()" ng-if="episode.is_resumable">Resume from {{episode.resume.position_readable}}</button>
  <button class="ngdialog-button ngdialog-button-secondary" ng-click="markWatched(episode, false, callback) && closeThisDialog()" ng-if="episode.is_watched && !episode.is_resumable">Mark unwatched</button>
  <button class="ngdialog-button ngdialog-button-secondary" ng-click="markWatched(episode, true, callback) && closeThisDialog()" ng-if="!episode.is_watched && !episode.is_resumable">Mark watched</button>
  <button class="ngdialog-button ngdialog-button-danger" ng-click="remove(episode, callback) && closeThisDialog()">Delete</button>
  <button class="ngdialog-button ngdialog-button-cancel" ng-click="closeThisDialog()">Cancel</button>
</div>