<div class="title">
  Movie options
</div>
<div class="description">
  What would you like to do with the movie <u>{{selected.movie.label}}</u><span ng-if="selected.movie.year"> ({{selected.movie.year}})</span>?
</div>
<div class="ngdialog-buttons">
  <button class="ngdialog-button ngdialog-button-primary" ng-click="playMovie(selected.movie) && closeThisDialog()">Play</button>
  <button class="ngdialog-button ngdialog-button-primary" ng-click="playMovie(selected.movie, true) && closeThisDialog()" ng-if="selected.movie.is_resumable">Resume from {{selected.movie.resume.position_readable}}</button>
  <button class="ngdialog-button ngdialog-button-secondary" ng-click="markMovieWatched(selected.movie, false) && closeThisDialog()" ng-if="selected.movie.is_watched">Mark unwatched</button>
  <button class="ngdialog-button ngdialog-button-secondary" ng-click="markMovieWatched(selected.movie, true) && closeThisDialog()" ng-if="!selected.movie.is_watched && !selected.movie.is_resumable">Mark watched</button>
  <button class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog()">Cancel</button>
</div>