<div class="title">
  Playlist item options
</div>
<div class="description">
  What would you like to do with 
  <span ng-if="ngDialogData.item.showtitle"><u>{{ngDialogData.item.showtitle}}</u> - </span>
  <u>{{ngDialogData.item.label}}</u><u ng-if="ngDialogData.item.year">({{ngDialogData.item.year}})</u>
  <span ng-if="ngDialogData.item.displayartist"> by <u>{{ngDialogData.item.displayartist}}</u>
  </span><span ng-if="ngDialogData.item.album"> from the album <u>{{ngDialogData.item.album}}</u></span>?
</div>
<div class="ngdialog-buttons" rk-tooltips="true">
  <button class="ngdialog-button ngdialog-button-primary" ng-click="play() && closeThisDialog()" title="Play"><i class="mdi mdi-play-box-outline"></i></button>
  <button class="ngdialog-button ngdialog-button-warning" ng-click="remove() && closeThisDialog()" title="Remove from playlist"><i class="mdi mdi-close-box-outline"></i></button>
</div>