<div class="title">
  Song options
</div>
<div class="description">
  What would you like to do with the song <u>{{ngDialogData.song.label}}</u><span ng-if="ngDialogData.song.displayartist"> by <u>{{ngDialogData.song.displayartist}}</u></span><span ng-if="ngDialogData.song.album"> from the album <u>{{ngDialogData.song.album}}</u></span>?
</div>
<div class="ngdialog-buttons" rk-tooltips="true">
  <button class="ngdialog-button ngdialog-button-primary" ng-click="play() && closeThisDialog()" title="Play"><i class="mdi mdi-play"></i></button>
  <button class="ngdialog-button ngdialog-button-favorite" ng-click="favorite() && closeThisDialog()" title="Add to favorites"><i class="mdi mdi-star"></i></button>
  <button class="ngdialog-button ngdialog-button-danger" ng-click="remove() && closeThisDialog()" title="Remove from library"><i class="mdi mdi-delete"></i></button>
</div>