body {
  cursor: default;
  user-select: none;
  -webkit-user-select: none;
  background: map-get($body, background-color);
  color: map-get($body, font-color);
  font-family: map-get($body, font-family);
  font-size: map-get($body, font-size);
  font-weight: map-get($body, font-weight);
  
  a {
    color: map-get($body, anchor-color);
  }
  
  a:hover {
    color: map-get($body, anchor-color-hover);
  }
  
  .jBox-container {
    background: #262626;
  }
  
  .jBox-content {
    padding: 3px 8px;
    overflow: auto;
    color: map-get($global, highlight-color);
    font-weight: normal;
    letter-spacing: 2px;
    font-size: 13px;
  }
  
  .jBox-Tooltip .jBox-container,
  .jBox-Mouse .jBox-container {
    border: 1px solid #3A3A3A;
  }
  
  .jBox-pointer:after {
    background: #262626;
    border: 1px solid #3A3A3A;
  }
}