body {
  cursor: default;
  user-select: none;
  -webkit-user-select: none;
  background: map-get($body, background-color);
  color: map-get($body, font-color);
  font-family: map-get($body, font-family);
  font-size: map-get($body, font-size);
  font-weight: map-get($body, font-weight);
  overflow: hidden;
  
  a {
    color: map-get($body, anchor-color);
  }
  
  a:hover {
    color: map-get($body, anchor-color-hover);
  }
  
  .jBox-container {
    background: #2E2E2E;
  }
  
  .jBox-content {
    padding: 3px 8px;
    overflow: auto;
    color: map-get($global, text-highlight-color);
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 13px;
  }
  
  .jBox-Tooltip .jBox-container,
  .jBox-Mouse .jBox-container {
    border: 1px solid #444;
  }
  
  .jBox-pointer:after {
    background: #2E2E2E;
    border: 1px solid #444;
  }
  
  .data-list-wrapper {
    overflow: auto;
    height: 416px;
    
    li {
      padding: 0 12px;
      line-height: 32px;
      border-bottom: 1px solid #333;
      color: #999;
      @include transitionAll(map-get($global, transition-speed));
      
      i.fa {
        margin-right: 6px;
      }
    }
    
    li:hover {
      color: #EEE;
      @include backgroundGradientVertical(#282828, #333);
      border-bottom: 1px solid map-get($global, highlight-color);
      
      i.fa {
        color: map-get($global, highlight-color);
      }
    }
  }
}