$global: (
  highlight-color: #E6802E
);

$body: (
  background-color: #282828,
  font-color: #6C6C6C,
  font-family: "Quicksand, arial, sans-serif",
  font-size: 14px,
  font-weight: 400,
  anchor-color: #FFF,
  anchor-color-hover: #E6802E
);

$window-controls: (
  height: 18px,
  button-width: 18px
);

$now-playing: (
  height: 170px
);