@import "defaults_animations.scss";
@import "defaults_mixins.scss";

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  min-height: 100%;
  max-height: 100%;
}

*,
*:before,
*:after {
  @include boxSizing();
}

* {
  _noFocusLine: expression(this.hideFocus=true);
}

::-moz-focus-inner {
  border: 0;
}

:focus {
  outline:none;
}

[hidden] {
  display: none;
}

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  font-size: 0;
  content: ".";
}

.clearfix:after {
  clear: both;
  visibility: hidden;
  font-size: 0;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

.block {
  display: block;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible !important;
}

.vertical-align {
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
}

.vertical-align-helper {
  display: inline-block;
  vertical-align: middle;
  height:100%;
}

.center {
  display: inline-block;
  margin:0 auto;
}

.center-content {
  text-align: center;
}

.auto-animate {
  visibility: hidden;
}

a {
  text-decoration: none;
  @include transitionAll();
}

a:hover,
a:active {
  text-decoration: none;
  @include transitionAll();
}

a.no-decoration:hover,
a.no-decoration:active {
  text-decoration: none;
}

a.button {
  display: inline-block;
  line-height: 24px;
  padding: 0 12px;
}

.transition-all {
  @include transitionAll(.2s, ease-in-out);
}

ul.horizontal,
ul.vertical {
  list-style-type: none;
  margin:0;
  padding:0;
}

ul.horizontal {
  li {
    display: inline;
    padding: 0;
    margin: 0;
  }
}

tbody {
  border:0;
}

.float-left {
  float: left;
  display: inline-block;
}

.float-right {
  float: right;
  display: inline-block;
}

.w50p {
  width: 50%;
}

.uppercase {
  text-transform: uppercase;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.no-decoration {
  text-decoration: none;
}

.underline {
  text-decoration: underline;
}

.overline {
  text-decoration: overline;
}

.strike {
  text-decoration: line-through;
}

.fs-10 {
  font-size: 10px;
}

.fs-11 {
  font-size: 11px;
}

.fs-12 {
  font-size: 12px;
}

.fs-13 {
  font-size: 13px;
}

.fs-14 {
  font-size: 14px;
}

.fs-15 {
  font-size: 15px;
}

.fs-16 {
  font-size: 16px;
}

.fs-17 {
  font-size: 17px;
}

.fs-18 {
  font-size: 18px;
}

.fs-19 {
  font-size: 19px;
}

.fs-20 {
  font-size: 22px;
}

.fs-24 {
  font-size: 24px;
}

.fs-26 {
  font-size: 26px;
}

.fs-28 {
  font-size: 28px;
}

.fs-30 {
  font-size: 30px;
}

.fs-32 {
  font-size: 32px;
}

.fs-34 {
  font-size: 34px;
}

.border-radius-2 {
  @include borderRadius(2px);
}

.border-radius-3 {
  @include borderRadius(3px);
}

.border-radius-4 {
  @include borderRadius(4px);
}

.border-radius-5 {
  @include borderRadius(5px);
}

.border-radius-8 {
  @include borderRadius(8px);
}

.border-radius-10 {
  @include borderRadius(10px);
}

.border-radius-15 {
  @include borderRadius(15px);
}

.bottom-border-radius-2 {
  @include borderRadius(0 0 2px 2px);
}

.bottom-border-radius-3 {
  @include borderRadius(0 0 3px 3px);
}

.bottom-border-radius-4 {
  @include borderRadius(0 0 4px 4px);
}

.bottom-border-radius-5 {
  @include borderRadius(0 0 5px 5px);
}

.bottom-border-radius-6 {
  @include borderRadius(0 0 6px 6px);
}

.bottom-border-radius-8 {
  @include borderRadius(0 0 8px 8px);
}

.opacity-0 {
  @include opacity(10);
}

.opacity-10 {
  @include opacity(10);
}

.opacity-20 {
  @include opacity(20);
}

.opacity-30 {
  @include opacity(30);
}

.opacity-40 {
  @include opacity(40);
}

.opacity-50 {
  @include opacity(50);
}

.opacity-60 {
  @include opacity(60);
}

.opacity-70 {
  @include opacity(70);
}

.opacity-30 {
  @include opacity(80);
}

.opacity-90 {
  @include opacity(90);
}

.opacity-100 {
  @include opacity(100);
}

.inner-shadow-5 {
  @include boxShadowInset(0 0 5px, #222);
}

.inner-shadow-10 {
  @include boxShadowInset(0 0 10px, #222);
}

.inner-shadow-15 {
  @include boxShadowInset(0 0 15px, #222);
}

.inner-shadow-20 {
  @include boxShadowInset(0 0 20px, #222);
}

.outer-shadow-5 {
  @include boxShadow(0 0 5px, #222);
}

.outer-shadow-10 {
  @include boxShadow(0 0 10px, #222);
}

.outer-shadow-15 {
  @include boxShadow(0 0 15px, #222);
}

.outer-shadow-20 {
  @include boxShadow(0 0 20px, #222);
}

.outer-shadow-25 {
  @include boxShadow(0 0 25px, #222);
}

.outer-shadow-30 {
  @include boxShadow(0 0 30px, #222);
}

.text-shadow-2 {
  @include textShadow(0 0 2px, #222);
}

.text-shadow-3 {
  @include textShadow(0 0 3px, #222);
}

.text-shadow-4 {
  @include textShadow(0 0 4px, #222);
}

.text-shadow-5 {
  @include textShadow(0 0 5px, #222);
}

.blur {
  -webkit-filter: blur(1.5px);
}