.ngdialog.ngdialog-theme-default {
  &.ngdialog-closing {
    .ngdialog-content {
      -webkit-animation: ngdialog-flyout .2s;
    }
  }
  
  .ngdialog-content {
    border-radius: 0;
    font-family: map-get($body, font-family);
    -webkit-animation: ngdialog-flyin .3s;
    
    .title {
      text-transform: uppercase;
      margin-bottom: 12px;
      font-size: 16px;
      font-weight: bold;
      letter-spacing: 4px;
      color: #000;
    }
    
    .description {
      font-size: 15px;
      margin: 6px 0 32px 0;
      line-height: 18px;
    }
    
    .ngdialog-close {
      border-radius: 0;

      &:before {
        border-radius: 0;
      }
    }

    textarea,
    input,
    button {
      border-radius: 0;
    }

    .ngdialog-button {
      border-radius: 0;
      height: auto;
      line-height: 18px;
      padding: 0 6px;
      font-size: 11px;
      width: auto;
      min-width: 20px;
      letter-spacing: 1px;

      &:active {
        @include scale(0.95);
      }
    }
    
    .ngdialog-buttons {
      border-top: 1px dotted map-get($global, highlight-color);
      padding: 10px 0 0 0;
    }
    
    .ngdialog-button-primary {
      color: #FFF;
      background: map-get($global, highlight-color);
      border: 1px solid map-get($global, highlight-color);
      
      &:hover {
        background: #FFF;
        color: map-get($global, highlight-color);
        border: 1px solid map-get($global, highlight-color);
      }
    }
    
    .ngdialog-button-secondary {
      background: #FFF;
      border: 1px solid #FFF;
      color: map-get($global, highlight-color);
      
      &:hover {
        background: map-get($global, highlight-color);
        color: #FFF;
        border: 1px solid #FFF;
      }
    }
    
    .ngdialog-button-danger {
      background: #E34F16;
      color: #FFF;
      border: 1px solid #E34F16;
      
      &:hover {
        background: #FFF;
        color: #E34F16;
        border: 1px solid #E34F16;
      }
    }
    
    .ngdialog-button-cancel {
      background: #CCC;
      color: #333;
      border: 1px solid #CCC;
      
      &:hover {
        background: #AAA;
        color: #FFF;
        border: 1px solid #FFF;
      }
    }
  }
}