section#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  height: map-get($footer, height);
  line-height: (map-get($footer, height) - 3px);
  border-top: 1px solid #333;
  padding: 0 map-get($global, window-padding);
  color: #999;
  @include backgroundGradientVertical(#2B2B2B, #262626);
  
  .heartbeat {
    display: inline-block;
    float: right;
    font-size: 12px;
    
    .connection-status {
      display: inline-block;
      padding: 0 3px 0 0;
      font-size: 14px;
      color: #999;
    }
  }
  
  .heartbeat.offline {
    color: #8A3928;
  }
  
  .heartbeat.online {
    color: #338147;
  }
  
  .loading-indicator {
    display: none;
    float: left;
    @include fadeInAndOut(1.5s);
  }
}