section#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  height: map-get($footer, height);
  line-height: (map-get($footer, height) - 3px);
  border-top: 1px solid #444;
  padding: 0 map-get($global, window-padding);
  color: #777;
  font-size: 13px;
  @include backgroundGradientVertical(#2C2C2C, #393939);
  @include boxShadow(0 -4px 4px -4px, #222);
  @include transitionAll(map-get($global, transition-speed));
  
  .message {
    display: inline-block;
  }
  
  i.fa {
    font-size: 14px;
  }
  
  .heartbeat {
    display: inline-block;
    float: right;
    
    .message {
      margin-right: 3px;
    }
  }
  
  .heartbeat.offline {
    i.fa {
      color: #8A3928;
    }
  }
  
  .heartbeat.online {
    i.fa {
      color: #338147;
      @include heartbeatAnimation();
    }
  }
  
  .loading-indicator {
    display: none;
    float: left;
    @include fadeInAndOut(1.5s);
    margin-right: 6px;
  }
  
  .playback-indicator {
    display: none;
    float: left;
    margin-right: 6px;
  }
}