section#nowPlaying {
  height: map-get($now-playing, height);
  @include backgroundGradientVertical(#595959, map-get($playback-controls, background-color));
  position: fixed;
  top: map-get($window-controls, height);
  left: 0;
  right: 0;
  border-bottom: 1px solid map-get($global, highlight-color);
  overflow: hidden;
  
  .inactive {
    line-height: map-get($now-playing, height);
    margin-top: -(map-get($window-controls, height));
    text-align: center;
    color: #221E1F;
    letter-spacing: 8px;
    text-align: center; 
    font-size: 46px;
    font-weight: 300;
    @include textShadow(0 0 2px, #4C4E4F);
  }
  
  .active {
    padding: 0 map-get($global, window-padding);
    overflow: hidden;
    
    .thumbnail {
      display: inline-block;
      float: left;
      height: 80px;
      width: 70px;
      text-align: center;
      -webkit-perspective: 150px;
      margin-top: 20px;
      
      i.mdi {
        font-size: 60px;
        line-height: 60px;
        -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(65%, transparent) , to(rgba(250, 250, 250, 0.5)));
      }
      
      img {
        max-height: 100%;
        max-width: 100%;
        -webkit-transform: rotateY(25deg);
        -webkit-box-reflect: below 4px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(65%, transparent) , to(rgba(250, 250, 250, 0.5)));
        border-radius: 3px;
      }
    }
    
    .details {
      display: inline-block;
      float: right;
      width: 395px;
      color: #999;
      height: 100px;
      margin-top: 10px;

      i.mdi {
        color: #666;
        font-size: 14px;
      }
      
      .artist {
        font-size: 14px;
        line-height: 18px;
      }

      .album {
        color: #BBB;
        font-size: 15px;
        line-height: 22px;
      }

      .title {
        color: #FFF;
        font-size: 16px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        line-height: 22px;
      }
      
      .time {
        font-size: 14px;
        color: #FFF;
      }
      
      .plot {
        overflow-y: hidden;
        text-overflow: ellipsis;
        text-align: justify;
        font-size: 12px;
      }
    }
  }
  
  .active.episode {
    .thumbnail {
      width: 120px;
    }
    
    .details {
      width: 340px;
    }
  }
}