section#playbackControls {
  text-align: center;
  border-bottom: 1px solid #464646;
  background-color: map-get($playback-controls, background-color);
  @include boxShadow(0 4px 4px -4px, #222);
  
  .main {
    ul {
      font-size: 0;
    }

    li {
      color: map-get($global, text-highlight-color);
      text-align: center;
      line-height: 45px;
      font-size: 20px;
      width: 42px;
      display: inline-block;
      font-size: 30px;
      @include transitionAll(map-get($global, transition-speed));
    }

    li:hover,
    li.active {
      color: map-get($global, highlight-color);
      @include scale(1.25);
      @include textShadow(0 0 16px, map-get($global, text-shadow-color));
    }

    li:active {
      @include scale(1.0);
      @include textShadow(0 0 6px, map-get($global, text-shadow-color));
    }

    li[data-button="pause"],
    li[data-button="stop"] {
      display: none;
    }
  }
}