section#playbackControls {
  text-align: center;
  border-bottom: 1px solid #464646;
  background-color: map-get($playback-controls, background-color);
  @include boxShadow(0 4px 4px -4px, #222);
  height: map-get($playback-controls, height);
  position: absolute;
  top: (map-get($window-controls, height) + map-get($now-playing, height));
  left: 0;
  right: 0;
  overflow: hidden;
  
  .volume-slider-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    padding-left: map-get($global, window-padding);
    white-space: nowrap;
    text-align: left;
    
    input {
      width: 65px;
      height: map-get($playback-controls, height);
    }
    
    i.mdi {
      line-height: map-get($playback-controls, height);
      font-size: 16px;
      color: #AAA;
      display: inline-block;
      margin-right: 8px;
      vertical-align: top;
      @include transitionAll(map-get($global, transition-speed));
    }
    
    i.mdi.active {
      color: map-get($global, highlight-color);
      @include scale(1.3);
    }
  }
  
  .controls-wrapper {
    ul {
      font-size: 0;
    }

    li {
      color: map-get($global, text-highlight-color);
      text-align: center;
      line-height: 45px;
      padding: 0 4px;
      display: inline-block;
      font-size: 32px;
      @include transitionAll(map-get($global, transition-speed));
    }

    li:hover,
    li.active {
      color: map-get($global, highlight-color);
      @include scale(1.15);
    }

    li:active {
      @include scale(1.0);
    }

    li.play-button {
      position: relative;
      
      .speed-indicator {
        position: absolute;
        right: 0;
        bottom: 0;
        color: map-get($global, highlight-color);
        font-weight: bold;
        font-size: 16px;
      }
    }
    
    li.play-button:hover,
    li.play-button.active {
      .speed-indicator {
        color: #FFF;
      }
    }
  }
}