section.tabsContainer {
  position: relative;
  height: 100%;
  overflow: hidden;

  nav {
    overflow: hidden;
    background: #262626;
    border-bottom: 1px solid #222;
    position: relative;
    @include boxShadow(0 4px 4px -4px, #222);
    @include backgroundGradientVertical(#2A2A2A, #262626);

    ul {
      font-size: 0;
      white-space: nowrap;
    }

    li {
      line-height: map-get($tabs, tab-height);
      width: map-get($tabs, tab-width);
      text-align: center;
      display: inline-block;
      font-size: 24px;
      border-bottom: 1px solid transparent;
      @include transitionAll(map-get($global, transition-speed));
      
      &:hover {
        color: #EEE;
        @include transitionAll(0.15s);
        @include scale(1.15);
      }
      
      &:active {
        @include scale(1.0);
      }
      
      &.active {
        color: #E6802E;
      }
    }

    .magic-line {
      position: absolute; 
      bottom: 0;
      left: 0;
      width: map-get($tabs, tab-width);
      height: 1px;
      background: map-get($global, highlight-color);
    }
  }
  

  .tabs.inline {
    font-size: 0;
    letter-spacing: -.31em;
    word-spacing: -.43em;
    white-space: nowrap;
  }

  .tabs.inline > * {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    font-size: 1rem;
    letter-spacing: normal;
    vertical-align: top;
    word-spacing: normal;
    white-space: normal;
  }

  .tabs {
    background: #282828;
    position: absolute;
    left: 0;
    top: (map-get($tabs, tab-height) + 2px);
    bottom: 0;
    width: map-get($global, window-width);
    @include transitionAll(0.4s);
  }

  .tabs > * {
    width: 100%;
  }

  @for $i from 0 through map-get($tabs, number-of-tabs) {
    .tabs[data-tab='#{$i}'] {
      left: -(100% * $i);
    }
  }
  
  .options {
    padding: 0 map-get($global, window-padding);
    border-bottom: 1px solid #333;
    background: #242424;
    line-height: map-get($tabs, options-height);
    height: map-get($tabs, options-height);
    font-size: 14px;
    overflow: hidden;

    select,
    input[type="text"] {
      background: #2D2D2D;
      border: 0;
      color: map-get($global, highlight-color);
      padding: 0 5px;
      line-height: 20px;
      font-size: 14px;
      font-weight: 300;
      letter-spacing: 1px;
      border-radius: 0;
    }

    .page-specific {
      float: left;
      
      &> span {
        margin-right: 6px;
        
        i.mdi.active {
          color: map-get($global, highlight-color);
        }
      }
    }
    
    .filter-container {
      float: right;
    }
    
    input.filter {
      width: 120px;
    }
    
    input.filter::-webkit-input-placeholder {
      color: #666;
    }

    input.filter::-webkit-input-placeholder::before { 
      font-family: 'MaterialDesignIcons'; 
      content: "\f3ab";
      margin-right: 5px;
      font-size: 14px;
      color: #AAA;
    }

    .clear-filter {
      font-size: 16px;
      @include transitionAll(.2s);
    }

    .clear-filter:hover {
      color: map-get($global, highlight-color);
      @include scale(1.25);
    }

    .clear-filter:active {
      @include scale(1.0);
    }
  }
  
  .data-list-wrapper {
    position: absolute;
    top:  map-get($tabs, options-height);
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow-y: auto;
    
    li {
      padding: 0 map-get($global, window-padding);
      line-height: 32px !important;
      border-bottom: 1px solid #333;
      color: #999;
      white-space: nowrap;
      overflow: hidden;
      position: relative;
      @include transitionAll(map-get($global, transition-speed));
      
      .label {
        float: left;
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
        
        i.mdi {
          margin-right: 6px;
          font-size: 20px;
          @include transitionAll(.3s);
        }
      }
      
      .controls {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        display: none;
        color: #FFF;
        text-align: center;
        @include backgroundGradientVertical(#2A2A2A, #242424);
        padding: 0 8px;
        border-left: 1px solid #333;
        opacity: 0.7;
        
        i.mdi {
          width: 26px;
          font-size: 18px;
          @include transitionAll(.3s);
        }
        
        i.mdi:hover {
          color: map-get($global, highlight-color);
          @include scale(1.15);
        }
        
        i.mdi:active {
          @include scale(1.0);
        }
      }
    }
    
    li:hover,
    li.playing {
      color: #EEE;
      @include backgroundGradientVertical(#242424, #2A2A2A);
      border-bottom: 1px solid map-get($global, highlight-color);
      
      .label {
        width: 396px;
        
        i.mdi {
          color: map-get($global, highlight-color);
          @include transitionAll(.2s);
          @include scale(1.3);
          padding-left: 2px;
          margin-right: 10px;
        }
      }
      
      .controls {
        display: inline-block;
      }
    }
    
    li:active {
      .label {
        i.mdi {
          @include scale(1.2);
        }
      }
    }
    
    li.playing {
      color: map-get($global, highlight-color);
      border-bottom: 1px solid transparent;
    }
    
    li {
      line-height: normal;
      overflow: hidden;
      
      .thumbnail {
        position: relative;
        margin: 10px 0 20px 0;
        display: inline-block;
        float: left;
        width: 70px;
        -webkit-perspective: 150px;
        text-align: center;
        
        img {
          width: 100%;
          -webkit-filter: grayscale(100%);
          -webkit-transform: rotateY(0deg);
          -webkit-box-reflect: below 4px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(65%, transparent) , to(rgba(250, 250, 250, 0.5)));
          border-radius: 3px;
          @include transitionAll(0.5s);
        }
        
        i.mdi {
          font-size: 70px;
          -webkit-filter: grayscale(100%);
          -webkit-transform: rotateY(0deg);
          -webkit-box-reflect: below 4px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(65%, transparent) , to(rgba(250, 250, 250, 0.5)));
          @include transitionAll(0.5s);
        }
      }
      
      .details {
        display: inline-block;
        float: right;
        width: 390px;
        font-size: 12px;
        line-height: normal;
        margin-bottom: 6px;
        
        td {
          vertical-align: top;
          white-space: normal;
        }
        
        td.title h2 {
          margin: 6px 0 3px 0;
          color: #FFF;
          padding-left: 3px;
          font-weight: 300;
          font-size: 18px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          @include transitionAll(map-get($global, transition-speed));
          
          .watched-label {
            color: #FFF;
          }
          
          .partially-watched-label {
            color: #FFF;
          }
          
          .track {
            font-size: 16px;
            color: #AAA;
          }
        }
        
        td.infoLabel {
          color: #666;
          text-align: right;
          width: 55px;
          padding-right: 6px;
          line-height: 18px;
          white-space: nowrap;
        }
        
        td.infoContent {
          line-height: 18px;
        }
      }
    }
    
    li:hover {
      .thumbnail {
        img,
        i.mdi {
          -webkit-filter: grayscale(0%);
          -webkit-transform: rotateY(25deg);
          @include transitionAll(.5s);
        }
      }
      
      .details {
        td.title h2 {
          color: map-get($global, highlight-color);
          @include transitionAll(map-get($global, transition-speed));
        }
      }
    }
  }
}

section.tabsContainer.sub {
  nav {
    @include backgroundGradientVertical(#262626, #2B2B2B);
    border-bottom: 1px solid #343434;
    @include boxShadow(0 4px 4px -4px, #222);
    
    li {
      line-height: map-get($tabs, sub-tab-height);
      width: map-get($tabs, sub-tab-width); 
      font-size: 16px;
    }
    
    li.active {
      color: #BBB;
    }
    
    .magic-line {
      background: #BBB;
      width: map-get($tabs, sub-tab-width); 
    }
  }
  
  .tabs {
    top: (map-get($tabs, sub-tab-height) + 2px);
  }
}

section#tabs {
  position: fixed;
  top: (map-get($window-controls, height) + map-get($now-playing, height) + map-get($playback-controls, height));
  left: 0;
  right: 0;
  bottom: map-get($footer, height);
  border: 0;
  height: auto;
  overflow: hidden;
}