section.tabsContainer {
  overflow: hidden;
  padding-bottom: map-get($footer, height);

  nav {
    background: #262626;
    border-bottom: 1px solid #222;
    position: relative;
    @include boxShadow(0 4px 4px -4px, #222);
    @include backgroundGradientVertical(#2A2A2A, #262626);

    ul {
      font-size: 0;
    }

    li {
      line-height: 48px;
      width: 62.5px;
      text-align: center;
      display: inline-block;
      font-size: 18px;
      border-bottom: 1px solid transparent;
      @include transitionAll(map-get($global, transition-speed));
    }

    li:hover {
      color: #EEE;
      @include transitionAll(0.15s);
      @include scale(1.15);
    }

    li:active {
      @include scale(1.0);
    }

    li.active {
      color: #E6802E;
    }

    .magic-line {
      position: absolute; 
      bottom: -1; 
      left: 0; 
      width: 54px; 
      height: 1px; 
      background: #E6802E;
    }
  }

  .tabs.inline {
    font-size: 0rem;
    letter-spacing: -.31em;
    word-spacing: -.43em;
    white-space: nowrap;
  }

  .tabs.inline > * {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    font-size: 1rem;
    letter-spacing: normal;
    vertical-align: top;
    word-spacing: normal;
    white-space: normal;
  }

  .tabs {
    position: relative;
    left: 0;
    @include transitionAll(0.4s);

    h4 {
      margin: 0;
      padding: 0 20px;
      line-height: 26px;
      text-transform: uppercase;
      font-size: 11px;
      letter-spacing: 4px;
      font-weight: 400;
      color: #999;
      border-bottom: 1px solid #333;
    }

    .content {
      padding: 20px;
    }
  }

  .tabs > * {
    width: 100%;
  }

  @for $i from 0 through map-get($tabs, number-of-tabs) {
    .tabs[data-tab='#{$i}'] {
      left: -(100%*$i);
    }
  }
}

section.tabsContainer.sub {
  nav {
    @include backgroundGradientVertical(#262626, #2B2B2B);
    border-bottom: 1px solid #343434;
    
    li {
      line-height: 32px;
      width: 54px;
      font-size: 16px;
    }
    
    li.active {
      color: #BBB;
    }
    
    .magic-line {
      background: #BBB;
    }
  }
}